.App {
  /* padding: 25px; */
}
.container{
  max-width: 980px; 
  margin: auto;
}

.headerWrapper{
  background-color: #0D065A;
}
.headerWrapper h2{
  margin: 0;
  padding: 20px 0;
  color: white;
}

.EmptyPlaceholderWrapper{
  text-align: center;
}

.statsWrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}

.bodyWrapper{
  background-color: azure;
  padding: 30px 0;
}

.btn-primary{
  background-color: #BB691E;
  padding: 5px 25px;
  border: 0;
  outline: 0;
  font-size: 25px;
  color: #0D065A;
}

.PlayerCard{
  background-color: white;
  border: 1px solid #0D065A;
  border-radius: 5px;
  padding: 25px;
  box-shadow:  0 4px 4px #666;
  margin-bottom: 25px;
}
.PlayerCard .points{
  font-size: 50px;
}